# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,jsx}]
charset = utf-8
indent_style = tab
max_line_length = 140
curly_bracket_next_line = true
spaces_around_operators = true
spaces_around_brackets = true
indent_brace_style = true

[*.css]
indent_style = 4

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
